{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {% block header %}
        {{ super() }}
    {% endblock %}
    <div class="pageContainer">
        <div id="home-left">
            <form class="ontimeSearch">
                <div class="leftInput">
                    <span class="spot">航班号</span>
                    <input type="text" placeholder="航班号(如450)">
                </div>
                <div class="leftInput">
                    <span class="spot">时间</span>
                    <input type="text" placeholder="yyyy-mm-dd">
                </div>
                <div class="ontimeButton">
                    <button type="submit">正晚点查询</button>
                </div>
            </form>
            <form class="timetableSearch">
				<div class="timetableInput">
                    <div class="leftInput inline">
                        <span class="spot">出发</span>
                        <input type="text" >
                    </div>
                    <div class="route_swap inline">
                        <img alt="Swap" src="http://e1.flightcdn.com/images/home_main/swap_icon.png ">
                    </div>
                    <div class="leftInput inline">
                        <span class="spot">到达</span>
                        <input type="text" >
                    </div>
				</div>
				<div class="leftInput">
					<span class="spot">时间</span>
					<input type="text" placeholder="yyyy-mm-dd">
				</div>
				<div class="timetableButton">
					<button type="submit">时刻表查询</button>
				</div>
            </form>
        </div>
        <div id="home-right"> 

        </div>
    </div>
    {% block script %}
        {{ super() }}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    {% endblock %}
{% endblock %}
