<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<link type="text/css" rel="stylesheet" href="../app/static/login.css">
</head>
<body>
	<div class="login">
		<h1 class="alert">
		{% for message in get_flashed_messages() %}
			{{ message }}
		{% else %} 
			Welcome
		</h1>
		{% endfor %}
		<form method="post">
			<!--{{form.hidden_tag() }}-->
			{{form.csrf_token }}
			{{form.username(placeholder="Username")}}
			{{form.password(placeholder="Password")}}
			{{form.submit(class="btn btn-primary btn-block btn-large")}}
		</form>
	</div>
</body>
</html>