<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>register</title>
	<link rel="stylesheet" type="text/css" href="../static/register.css">
</head>
<body>
	<p class="texto">Registor</p>
	<div class="Registro">
		<form method="post">
			<span class="fontawesome-user"></span><input type="text" required placeholder="username" autocomplete="off">
			<span class="fontawesome-envelope-alt"></span><input type="text" id="email" required placeholder="email address" autocomplete="off">
			<span class="fontawesome-lock"></span><input type="password" name="password" id="password" required placeholder="password" autocomplete="off">
			<input type="submit" value="Registrar" title="Registra tu cuenta">
		</form>
	</div>
</body>
</html>